<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style>
		body { padding-top: 50px; }
		form { margin-bottom: 50px; }
	</style>
	
	<!-- JS -->
	<!-- load AngularJS and custom script -->
	<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
	<script src="app.js"></script>
</head>

<body ng-app="formApp" ng-controller="formController">
	
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	<h2>Angular Checkboxes and Radio Buttons</h2>
	
	<form>
		<!-- NAME INPUT -->
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="name" ng-model="formData.name">
		</div>
		
		<!-- ======================================== -->
		<!-- ALL CHECKBOXES AND RADIO BUTTONS GO HERE -->
		<!-- ======================================== -->
		<label>Favorite Colors</label>
		<div class="form-group">
			<label class="checkbox-inLine">
				<input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.red"> Red
			</label>
			
			<label class="checkbox-inLine">
				<input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.blue"> Blue
			</label>
			
			<label class="checkbox-inLine">
				<input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.green"> Green
			</label>
		</div>
		
		<!-- CUSTOM VALUE CHECKBOXES -->
		<label>Personal Question</label>
		<div class="form-group">
			<label class="checkbox-inLine">
				<input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish">
				Are you awesome?
			</label>
		</div>
		
		<label>Chicken or the Egg?</label>
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="chickenEgg" value="chicken" ng-model="formData.chickenEgg">
					Chicken
				</label>
			</div>
			
			<div class="radio">
				<label>
					<input type="radio" name="chickenEgg" value="egg" ng-model="formData.chickenEgg">
					Egg
				</label>
			</div>
		</div>
		
		<!-- SUBMIT BUTTON (does nothing right now) -->
		<button type="submit" class="btn btn-danger btn-lg">Send</button>
		
	</form>
	
	<!-- SHOW FORM DATA OBJECT -->
	<h2>Sample Form Object</h2>
	<pre>
		{{ formData }}
	</pre>
</div>

</body>
</html>
